<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='44b8aece5f04d74144b8aece5f04d741'/>
  <team v='234980'/>
  <user v='cs3kxq8tukql'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
